{%load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
         <script src  = "{% static '/js/jquery-3.1.1.min.js'%}"></script>
         <script src  = "{% static '/js/mustache.min.js'%}"></script>
         <script src  = "{% static '/js/mustache.js'%}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
     <link href="{% static '/css/bootstrap.css'%}" rel="stylesheet">
<!--       <script src = "{% static '/js/my_script.js' %}"></script>-->
       <script src = "{% static '/js/ajax_script.js' %}"></script>
    <style>
            .center {
                width: 150px;
                height: 30px;
                top: 10%;
                left: 100%;
                margin: 30px ;
           }
    </style>

</head>
<body>
 <div class="navbar">
        <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Home</a>
                </div>
            <ul class="nav navbar-nav">
         <li><a href="/info/show/">Show all Programmers</a></li>
         {%if user.is_superuser%}
         <li><a href  = "/users/">User List</a></li>
         {%endif%}
            </ul>
            <ul class = "signin">

                 {% if username%}
              <button class = "pull-right btn btn-default"><a href = "/auth/logout">Sign out({{username}})</a></button>
                {% else %}
                <button class = "pull-right  btn btn-default"><a href = "/auth/login/">Sign in</a></button>
                {% endif %}
            </ul>
<form class="navbar-search pull-right" action="/search/" method = "get" id="form">
   <div class="input-group">
    <input type="text" class="form-control" placeholder= "Search"  name = "search"  id = "search">
    <div class="input-group-btn">

      <button class="btn btn-default search" type="submit">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>
</form>
    </div>
</div>

{%  if delete %}
<p>{{delete}}</p>
{%endif%}
 <a href="{{ prog.file.name}}">File</a>
<h1>{{prog.name}} {{ prog.surname }}</h1>
    <p>Birthdate:{{prog.birthdate}}</p>
    <p>jobExperience:{{prog.jobExperience}}</p>
    <p>Salary :{{prog.salary}}</p>
    <p>progLang: {{prog.progLang}}</p>

<form action = "/prog/delete/{{phone.id}}/" method = "POST">
<input class ="button" type = "submit" value = "Delete">
</form>


<script src = "{% static '/js/my_script.js' %}"></script>
</body>
</html>