{%load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
         <script src  = "{% static '/js/jquery-3.1.1.min.js'%}"></script>
         <script src  = "{% static '/js/mustache.min.js'%}"></script>
         <script src  = "{% static '/js/mustache.js'%}"></script>
     <script src = "{% static '/js/ajax_script.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
     <link href="{% static '/css/bootstrap.css'%}" rel="stylesheet">
<!--       <script src = "{% static '/js/my_script.js' %}"></script>-->
{#       <script src = "{% static '/js/ajax_script.js' %}"></script>#}
    <style>
            .center {
                width: 150px;
                height: 30px;
                top: 10%;
                left: 100%;
                margin: 30px ;
           }
    </style>

</head>
<body>
 <div class="navbar">
        <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Home</a>
                </div>
            <ul class="nav navbar-nav">
         <li><a href="/info/show/">Show all Programmers</a></li>
         {%if user.is_superuser%}
         <li><a href  = "/users/">User List</a></li>
         {%endif%}
            </ul>
            <ul class = "signin">

                 {% if username%}
              <button class = "pull-right btn btn-default"><a href = "/auth/logout">Sign out({{username}})</a></button>
                {% else %}
                <button class = "pull-right  btn btn-default"><a href = "/auth/login/">Sign in</a></button>
                {% endif %}
            </ul>

   <div class="input-group">
    <input type="text" class="form-control" placeholder= "Search"  name = "search"  id = "search">
    <div class="input-group-btn">

      <button class="btn btn-default search" type="submit">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>

    </div>
</div>
     {%if prog_lang%}
 {% for i in prog_lang %}
    <div id="prog_{{i.id}}" >
     <p><a href  = "/phones_view/get/{{i.id}}">{{i.name}} {{ i.surname}}</a></p>
    <p>Birthdate:{{i.birthdate}}</p>
    <p>jobExperience:{{i.jobExperience}}</p>
    <p>Salary :{{i.salary}}</p>
    <p>progLang: {{i.progLang}}</p>
{% if i.file %}
 <a href="{{ i.file.name}}">File</a>

{%endif%}

          {% if user %}
           <form action = "/prog/delete/{{i.id}}/" method="POST">
               <button  class="btn btn-danger" >Delete</button>
           </form>
    {% endif %}

      {%endfor%}
 {%endif%}

 <script src = "{% static '/js/my_script.js' %}"></script>
</body>
</html>




